
* {
color: black;
background: transparent;
font-size: 12pt;
font-family: serif;
}


h1, h2, h3, h4 {
  font-family: sans-serif;
}

h1 {
text-align: center;}

address {
text-align: center;}

.navbar {
    display: none;
}

main {
    float: left;
    clear: left;
}

em {
    float: right;
}

hr {
 display: none;

}
section {
float: left;
clear: left;
}

a[href$=".html"] { 
    display:none;
}

a[href^="http://"] {
    display: left;
}

a[href^="http://"]:after { content: " (" attr(href) ") "; }
